
<div *ngIf="release">
  <div class="form-group">
    <label><b>Name: </b></label>
    <input type="text" class="form-control" [(ngModel)]="release.releaseName" />
  </div>
  <div>
    <label><b>Initial Date: </b></label>
    <input type="datetime-local" class="form-control" [(ngModel)]="release.initialDate"/>
  </div>
  <div>
    <label><b>Final Date: </b></label>
    <input type="datetime-local" class="form-control" [(ngModel)]="release.finalDate"/>
  </div>
  <div>
    <label><b>Commits: </b></label> 
    <input type="text" class="form-control" [(ngModel)]="release.commits" />
  </div>
  <div>
    <label><b>Authors: </b></label> 
    <input type="text" class="form-control" [(ngModel)]="release.authors" />
  </div>
  <div>
    <label><b>Removed Lines: </b></label> 
    <input type="text" class="form-control" [(ngModel)]="release.removedLines" />
  </div>
  <div>
    <label><b>Added Lines: </b></label>
    <input type="text" class="form-control" [(ngModel)]="release.addedLines" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="releaseList()" >Close</button>
  </div>
</div>