<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 selects">
      <label>Release 1</label>
      <ng-select [(ngModel)]="firstRelease" placeholder="Selecione a primeira Release">
        <ng-option *ngFor="let releaseOne of releasesF" [value]="releaseOne">{{releaseOne.releaseName}}</ng-option>
      </ng-select>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 selects">
      <label>Release 2</label>
      <ng-select [(ngModel)]="secondRelease" (ngModelChange)="setObj($event)"
        placeholder="Selecione a Segunda Release">
        <ng-option *ngFor="let releaseTwo of releasesS" [value]="releaseTwo">{{releaseTwo.releaseName}}</ng-option>
      </ng-select>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Releases Comparative</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" *ngIf="firstRelease !== undefined && secondRelease !== undefined">
        <thead>
          <tr>
            <th>Release Data</th>
            <th>First</th>
            <th>Second</th>
            <th>Comparative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Release Name</td>
            <td>{{firstRelease.releaseName}}</td>
            <td>{{secondRelease.releaseName}}</td>
            <td> - </td>
          </tr>
          <tr>
            <td>Initial Date</td>
            <td>{{firstRelease.initialDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{secondRelease.initialDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td> - </td>
          </tr>
          <tr>
            <td>Initial Date</td>
            <td>{{firstRelease.finalDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{secondRelease.finalDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td> - </td>
          </tr>
          <tr>
            <td>Commits</td>
            <td>{{firstRelease.commits}}</td>
            <td>{{secondRelease.commits}}</td>
            <td>{{comparative.commits}}</td>
          </tr>
          <tr>
            <td>Authors</td>
            <td>{{firstRelease.authors}}</td>
            <td>{{secondRelease.authors}}</td>
            <td>{{comparative.authors}}</td>
          </tr>
          <tr>
            <td>Added Lines</td>
            <td>{{firstRelease.addedLines}}</td>
            <td>{{secondRelease.addedLines}}</td>
            <td>{{comparative.addedLines}}</td>
          </tr>
          <tr>
            <td>Removed Lines</td>
            <td>{{firstRelease.removedLines}}</td>
            <td>{{secondRelease.removedLines}}</td>
            <td>{{comparative.removedLines}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>